node_modules/
client/node_modules/
client/src/
client/public/
client/rsbuild.config.js
client/package*.json
client/tsconfig.json
client/.npmrc
client/.env*
design-system/
dist/
uploads/
worker/
images/
.git/
.idea/
.DS_Store
.env*
*.md
